# .coveragerc to control coverage.py

[run]
omit =
    config/*
    flask/*
    instance/*
    migrations/*
    sourcemash/frontend/*
    tests/*
    worker_tasks/scraper.py
    manage.py

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

ignore_errors = True
missing = True
