{% macro form_field(field) -%}
  {% if field.type == 'SubmitField' %}
    <button type="submit" class="btn waves-effect waves-light">{{ field.label.text }} </button>
  {% else %}
    {% set class_ = kwargs.pop('class_', '') %}
    {% set class_ = class_ + ' validate' %}
    {% if field.errors %}
      {% set class_ = class_ + ' invalid' %}
    {% endif %}
    {{ field(class_=class_, **kwargs) }}
    {{field.label}}
    <div class="errors">
    {% if field.errors %}
      {{ field.errors|join(', ') }}
    {% endif %}
    </div>
  {% endif %}
{%- endmacro %}
