{% macro fields_errors() %}
  {% for field in varargs %}
    {% if field.errors %}
      {% for error in field.errors %}
        <div class="alert alert-danger">{{error}}</div>
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endmacro %}
<form class="col s12" id="login" action="/login" method="POST" name="login_user_form">
  <div class="input-field">
    <input class="validate" id="email" name="email" type="email">
    <label for="email" class="">Email Address</label>
  </div>
  <div class="input-field">
    <input class="validate" id="password" name="password" type="password">
    <label for="password">Password</label>
    {{ fields_errors(login_user_form.email, login_user_form.password, login_user_form.remember) }}
  </div>

  <div class="row">
    <div class="input-field col s5">
      <button type="submit" class="btn waves-effect waves-light">Login</button>
    </div>
    <div class="input-field col s7">
      <input class="validate" id="remember" name="remember" type="checkbox">
      <label for="remember">Remember Me</label>
      <div class="errors"></div>
    </div>
  </div>
</form>
<div class="center-align"><a href="/register">Need an account? Register</a></div>
