<form class="col s12" id="login" action="/login" method="POST" name="login_user_form">
  <div class="input-field">
    <input class="validate" id="email" name="email" type="email">
    <label for="email" class="">Email Address</label>
    <div class="errors"></div>
  </div>
  <div class="input-field">
    <input class="validate" id="password" name="password" type="password">
    <label for="password">Password</label>
    <div class="errors"></div>
  </div>

  <div class="row">
    <div class="input-field col s5">
      <button type="submit" class="btn waves-effect waves-light">Login</button>
    </div>
    <div class="input-field col s7">
      <input class="validate" id="remember" name="remember" type="checkbox">
      <label for="remember">Remember Me</label>
      <div class="errors"></div>
    </div>
  </div>
</form>
<div class="center-align"><a href="/register">Need an account? Register</a></div>
