{% from "security/_macros.html" import form_field %}

{% extends "base.html" %}

{% block layout %}
<h1>Reset password</h1>
<div class="row">
  <form action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST" name="reset_password_form">
    {{ reset_password_form.hidden_tag() }}
    <div class="row">
      <div class="input-field col s12">
        {{ form_field(reset_password_form.password) }}
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        {{ form_field(reset_password_form.password_confirm) }}
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        {{ form_field(reset_password_form.submit) }}
      </div>
    </div>
  </form>
</div>
{% endblock %}
