{% from "security/_macros.html" import form_field %}

{% extends "base.html" %}

{% block layout %}
<div class="page-header">
	<h1>Feeds</h1>
</div>

<div class="row">
  <form class="new-feed col s12" id="add_feed_form" onsubmit="return add_feed()">
    <div class="row">
      <div class="input-field col s12 m9 l10">
        {{ form_field(add_feed_form.feed_url, name_="Feed URL") }}
      </div>
      <div class="input-field col s12 m3 l2">
         <button type="submit" class="btn waves-effect waves-light">Add</button>
      </div>
    </div>
  </form>
</div>

<div class="feeds">
	{% for feed in subscriptions %}
		<p><a href="{{ url_for('.feed', id=feed.id) }}">{{ feed.title }}</a></p>
	{% endfor %}

</div>

{% endblock %}
