/*
 ******************************
 * Feed & Category Item Styles
 ******************************
 */
 #feed-items {
	.card-panel {
		background-color: #BBDEFB;
	}
}
#category-items {
	.card-panel {
		background-color: #C8E6C9;
	}
}

.card {
	height: 400px;
	overflow: hidden;
	.card-content {
		background-color: white;
		z-index: 1;
		position: absolute;
		bottom: 0;
		width: 100%;
		.card-title {
			line-height: 32px;
			font-size: 20px;
		}
	}
	.card-reveal {
		z-index: 2;
		overflow-y: scroll;
		height: 100%;
		width: 100%;
		img {
			width: 100%;
		}
	}
	.card-action {
		padding: 10px;
		padding-left: 0;
		margin: 0;
	}
	#reveal-button {
		font-size: 1.75rem;
		&:hover {
			cursor: pointer;
		}
	}
	.summary {
		img {
			border: 0 none;
			width: 100% !important;
			height: auto !important;
		}
	}
}

/*
 ******************************
 * Upvote-downvote colors
 ******************************
 */
.vote {
	color: #DFDFDF;
	line-height: 10px;
	i {
		vertical-align: middle;
	}
}

.upvote {
	@extend .vote;
	&:hover, &.active {
		color: #4caf50;
	}
}

.downvote {
	@extend .vote;
	&:hover, &.active {
		color: #f44336;
	}
}