/*
 ******************************
 * Item Card Styles
 ******************************
 */
.card {
	height: 400px;
	.card-content {
		background-color: white;
		z-index: 1;
		position: absolute;
		bottom: 0;
		width: 100%;
		.card-title {
			line-height: 32px;
		}
	}
	.card-reveal {
		z-index: 2;
		overflow-y: scroll;
		img {
			width: 100%;
			height: auto;
		}
	}
	.card-action {
		padding: 10px;
		padding-left: 0;
		margin: 0;
	}
	#reveal-button {
		font-size: 1.75rem;
		&:hover {
			cursor: pointer;
		}
	}
}

/*
 ******************************
 * Upvote-downvote colors
 ******************************
 */
.vote {
	color: #DFDFDF;
	line-height: 10px;
	i {
		vertical-align: middle;
	}
}

.upvote {
	@extend .vote;
	&:hover, &.active {
		color: #4caf50;
	}
}

.downvote {
	@extend .vote;
	&:hover, &.active {
		color: #f44336;
	}
}