/*
 ******************************
 * Item Card Styles
 ******************************
 */
.card {
	height: 400px;
	.card-content {
		background-color: white;
		z-index: 1;
		position: absolute;
		bottom: 0;
		width: 100%;
		.card-title {
			line-height: 32px;
		}

.dropdown-menu {
  @extend .z-depth-1;
  position: absolute;
  background-color: #FFFFFF;
  margin: 0;
  min-width: 100px;
  z-index: 1000;
  overflow-y: hidden;

  li {
    cursor: pointer;
    font-size: 1.2rem;
    line-height: 1.5rem;
    border: 1px solid black;

    &:hover {
      background-color: rgba(0,0,0, .06);
    }

    & > a,& > span {
      display: block;
      padding: 1rem 1rem;
    }
  }
}

#feed-items {
	.card-panel {
		background-color: #BBDEFB;
>>>>>>> Add typeahead search for feeds.
	}
	.card-reveal {
		z-index: 2;
		overflow-y: scroll;
		img {
			width: 100%;
			height: auto;
		}
	}
	.card-action {
		padding: 10px;
		padding-left: 0;
		margin: 0;
	}
	#reveal-button {
		font-size: 1.75rem;
		&:hover {
			cursor: pointer;
		}
	}
}

<<<<<<< HEAD
/*
 ******************************
 * Upvote-downvote colors
 ******************************
 */
=======
>>>>>>> Add typeahead search for feeds.
.vote {
	color: #DFDFDF;
	line-height: 10px;
	i {
		vertical-align: middle;
	}
}

.upvote {
	@extend .vote;
	&:hover, &.active {
		color: #4caf50;
	}
}

.downvote {
	@extend .vote;
	&:hover, &.active {
		color: #f44336;
	}
}