<html>
  <head>
    {% assets "css_vendor" %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
    {% assets "css_sourcemash" %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets "js_mixpanel" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sourcemash</title>
  </head>

  <body>

    <div id="app">
      {% block layout %}{% endblock %}
    </div>

    <!--Import jQuery before materialize.js-->
    {% assets "js_vendor" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "js_default" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "js_templates" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "js_backbone" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <div id="sourcemash-footer"></div>
  </body>

</html>
