<html>
  <head>
    {% assets "css_vendor" %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}

    <title>Sourcemash</title>
  </head>

  <header>
    <nav class="top-nav">
      <div class="container">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Sourcemash</a>
          <ul id="nav-mobile" class="right side-nav">
            {% if current_user.is_authenticated() %}
            <li><a href="{{ url_for('.profile') }}">Profile</a></li>
            <li><a href="{{ url_for('.feeds') }}">Feeds</a></li>
            <li><a href="{{ url_for_security('logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for_security('login') }}">Login</a></li>
            <li><a href="{{ url_for_security('register') }}">Register</a></li>
            {% endif %}
          </ul>
          <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>      
        </div>
      </div>
    </nav>
  </header>

  <body>
    
    <div class="container">
      {% block layout %}{% endblock %}
    </div>

    
    <!-- Templates -->
    <script type="text/template" id="feed-template">
      <p><a href=<%- url %>><%- title %></a></p>
    </script> 

    <!--Import jQuery before materialize.js-->
    {% assets "js_vendor" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "js_default" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "js_feeds" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

  </body>
</html>