{% from "security/_macros.html" import form_field %}

{% extends "base.html" %}

{% block layout %}

<div class="page-header">
	<h1>Feeds</h1>
</div>

<div class="feeds">
  <div class="row">
    <form class="new-feed" id="add_feed_form">
        <div class="input-field col s12 m9">
          {{ form_field(add_feed_form.feed_url) }}
        </div>
        <div class="input-field col s12 m3">
          {{ form_field(add_feed_form.submit)}}
        </div>
    </form>
  </div>

  <ul id="feed-list"></ul>
</div>

<!-- Templates -->
<script type="text/template" id="feed-template">
  <p><a href=<%- url %>><%- title %></a></p>
</script> 

{% assets "js_feeds" %}
  <script src="{{ ASSET_URL }}"></script>
{% endassets %}

{% endblock %}
